.calc {
    width: 50%;
    min-height: 300px;
    float: left;
    border: 0px solid black;
}
.log{
    margin-left: 50%;
    width: 50%;
    min-height: 370px;
    border: 0px solid black;
    text-align: center;
}

.edit{
    margin: 1% 1% 1% 1%;
    width: 96%;
    min-width: 50px;
    border: 1px solid black;
    text-align: right;
    background: linear-gradient(0deg, rgb(166, 166, 214), rgb(111, 158, 228));
    border-radius: 5px;
}

.edit p{
margin-right: 2%;
} 

.del{
    float: left;
    margin: 1% 1% 1% 1%;
    width: 47%;
    height: 10%;
    min-width: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
}

.C{
    float: left;
    margin: 1% 1% 1% 1%;
    width: 22%;
    height: 40%;
    min-width: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    cursor: pointer; 
    padding-top: 5%;
    padding-bottom: 5%;
}

.button{
    float: left;
    margin: 1% 1% 1% 1%;
    width: 22%;
    height: 40%;
    min-width: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px; 
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
}

.enter{
    float: left;
    margin: 1% 1% 1% 1%;
    width: 47%;
    height: 10%;
    min-width: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(0deg, rgb(240, 218, 23), rgb(178, 214, 45));
   /* background-color: #7793c0;*/
    color: black;
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
}

.operation {
   /* background-color: #b8dae7;*/
    background: linear-gradient(30deg, rgb(115, 115, 158), rgb(82, 166, 192));
}

.logDetails p{
    margin: 2% 2% 2% 2%;
    border: 0px solid black;
    padding: 2px;
    text-align: left;
    background: linear-gradient(30deg, rgb(155, 210, 218), rgb(41, 177, 102));
  /*  background-color: rgb(163, 185, 231);*/
    border-radius: 5px;
    overflow-y: scroll ; /* прокрутка*/
    max-height: 325px;
}
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
}


